.searchBar {
  float: left;
  position: relative;
  margin-top: 0;
  margin-left: 10px;
}
.search {
  transition-duration: 0.4s;
  text-decoration: none;
  border: 2px solid white;
  font-size: 16px;
  color: white;
  margin-top: 0;
  padding: 2px;
  border-radius: 6px;
  margin-bottom: 5px;
  font-family: "Teko", serif;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.055);
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255),
    0 0 30px rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255);
}
.search::placeholder {
  color: white;
  text-decoration: none;
  background-color: transparent;
  letter-spacing: 0.55mm;
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255),
    0 0 30px rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255);
  box-shadow: inset 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255);
}

.buttonSearch {
  font-family: "Teko", serif;
  font-size: 16px;
  border-radius: 6px !important;
  cursor: pointer;
  /* padding: 0.5mm; */
  transition-duration: 0.4s;
  text-decoration: none;
  border: 2.1px solid white;
  padding: 2px;
  letter-spacing: 1mm;
  color: black;
  font-weight: bold;
  backdrop-filter: blur(10px);
  background-color: rgba(245, 245, 245, 0.722);
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255),
    0 0 30px rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255);
  box-shadow: inset 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255);
}

.buttonSearch:hover {
    color: white;
    box-shadow: 0 0 10px 0 cyan inset,0 0 10px 0 cyan,
    0 0 10px 0 cyan inset,0 0 10px 0 cyan;
    text-shadow: 0 0 5px cyan;
  background-color: black;
}

/* ver si cambio el cyan por el color de la landing */
